extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Loc8r was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
        | Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.
        | <br /><br />
        | It's a good to go place for all in one needs right from the work to the food and drinks.
        | <br /><br />
        | Loc8r helps you find places to and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for..